// Palette
$primary = #03A9F4
$dark-primary = #0288D1
$light-primary = #B3E5FC
$divider = #BDBDBD
$primary-text = #212121
$secondary-text = #757575
$light-text = #FFFFFF
$accent = #607D8B

// Custom colors
$message-bg = #f1f1f1;

// Font-size
$title-size = 18px
$text-default = 14px
$text-small = 12px

// Margin and padding
$spacer = 1rem
$spacer-s = ($spacer / 2)

// Radius
$radius = 7px

// Shadow
$box-shadow = 0 1px 2px rgba(0,0,0,.2)