.avatar
  img
    height 30px
    width 30px
    border-radius 50%

  &.edition
    display flex
    align-items center
    justify-content center
    position relative
    cursor pointer

    img
      height 70px
      width 70px