@import '../../styles/variables.styl'

.container
  background $message-bg
  margin-bottom $spacer
  padding $spacer-s
  border-radius $radius
  box-shadow $box-shadow

.author
  display flex
  align-items center
  font-size $text-small
  margin-bottom $spacer-s

  img
    height 30px
    border-radius 50px
    margin-right $spacer-s