@import '../../styles/variables.styl'

.container
  background $message-bg
  margin 0 auto $spacer auto
  padding $spacer-s
  border-radius $radius
  box-shadow $box-shadow
  max-width 700px

  &.private
    background-color #bfbfbf
    background-image url(/static/eye-off.svg)
    background-repeat no-repeat
    background-size 15px 15px
    background-position 10px 10px

  &.currentUser
    text-align right

    .author
      flex-direction row-reverse

      img
        margin-left $spacer-s

.author
  display flex
  align-items center
  font-size $text-small
  margin-bottom $spacer-s

  img
    height 30px
    border-radius 50px
    margin-right $spacer-s